<a href="https://colab.research.google.com/github/mdsamim1992hatia-cell/BMI-CAL/blob/main/Untitled107.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame({
    'store':['A','A','A','A','B','B','B','B','c','c','c','c'],
    'sales':[1000,788,88855,555,2222,5858,666,5554,858525,333,55,554]
})
df.groupby('store')['sales'].agg(['sum','min','max','mean'])

          sum  min     max       mean
store
A       91198  555   88855   22799.50
B       14300  666    5858    3575.00
c      859467   55  858525  214866.75

In [4]:
df.groupby('store')['sales'].sum().sort_values(ascending=False)

store
c    859467
A     91198
B     14300
Name: sales, dtype: int64

In [5]:
df=pd.DataFrame({
    'customer':['tom','jerry','moni','liliy'],
    'sales':[4556,8744,6555,2522]
})
df.groupby('customer')['sales'].sum()

customer
jerry    8744
liliy    2522
moni     6555
tom      4556
Name: sales, dtype: int64

In [6]:
df.groupby('customer')['sales'].sum().sort_values(ascending=False).head(3)

customer
jerry    8744
moni     6555
tom      4556
Name: sales, dtype: int64