<a href="https://colab.research.google.com/github/mdsamim1992hatia-cell/BMI-CAL/blob/main/Untitled108.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame({
    'department':['hr','sales','it','hr','it'],
    'salery':[1000,88888,555,222,444,]
})
df.groupby('department')['salery'].describe()

,count,mean,std,min,25%,50%,75%,max
department,,,,,,,,
hr,2.0,611.0,550.129076,222.0,416.50,611.0,805.50,1000.0
it,2.0,499.5,78.488853,444.0,471.75,499.5,527.25,555.0
sales,1.0,88888.0,NaN,88888.0,88888.00,88888.0,88888.00,88888.0

In [7]:
df=pd.DataFrame({
    'day':['sun','sun','mon','mon','tue','tue'],
    'sales':[1000,88888,555,222,4556,788]
})
df.groupby('day')['sales'].sum().sort_values(ascending=False)

day
sun    89888
tue     5344
mon      777
Name: sales, dtype: int64

In [8]:
df=pd.DataFrame({
    'product':['a','b','a','b','a','b','a','a'],
    'sales':[1000,8988,252,6666,3333,444,8555,1111]
})
df.groupby('product')['sales'].agg(['sum','mean','count','max','min'])

           sum    mean  count   max  min
product
a        14251  2850.2      5  8555  252
b        16098  5366.0      3  8988  444

In [10]:
df=pd.DataFrame({
    'product':['a','b','a','b','a','b','a','a','c','c','f'],

    'sales':[1000,888,999,666,555,22,544,55,22,44,555]})
df.groupby('product')['sales'].agg(['sum','mean','count','max','min'])

          sum        mean  count   max  min
product
a        3153  630.600000      5  1000   55
b        1576  525.333333      3   888   22
c          66   33.000000      2    44   22
f         555  555.000000      1   555  555

In [11]:
df.groupby('product')['sales'].sum().sort_values(ascending=False)

product
a    3153
b    1576
f     555
c      66
Name: sales, dtype: int64

In [12]:
df.groupby('product')['sales'].sum().sort_values(ascending=True)

product
c      66
f     555
b    1576
a    3153
Name: sales, dtype: int64

In [15]:
df=pd.DataFrame({
    'department':['it','hr','sales','it','hr','sales'],
    'salery':[1000,82522,555,222,444,555]
})
df.groupby('department')['salery'].describe()

,count,mean,std,min,25%,50%,75%,max
department,,,,,,,,
hr,2.0,41483.0,58037.910386,444.0,20963.5,41483.0,62002.5,82522.0
it,2.0,611.0,550.129076,222.0,416.5,611.0,805.5,1000.0
sales,2.0,555.0,0.000000,555.0,555.0,555.0,555.0,555.0

In [16]:
df=pd.DataFrame({
    'day':['sun','sun','mon','mon','tue','tue'],
    'sales':[1000,888,2525,444,5585,55]})
df.groupby('day')['sales'].sum().sort_values(ascending=False)

day
tue    5640
mon    2969
sun    1888
Name: sales, dtype: int64

In [17]:
df.groupby('day')['sales'].sum()

day
mon    2969
sun    1888
tue    5640
Name: sales, dtype: int64

In [18]:
df=pd.DataFrame({
    'product':['a','b','a','b','a','b','a','a','c','c','f'],
    'sales':[1000,88,6555,5656,5565,655,6565,586,5665,544,544]
})
df.groupby('product')['sales'].agg(['sum','mean','count','max','min'])

           sum    mean  count   max  min
product
a        20271  4054.2      5  6565  586
b         6399  2133.0      3  5656   88
c         6209  3104.5      2  5665  544
f          544   544.0      1   544  544

In [20]:
df.groupby('product')['sales'].sum().sort_values(ascending=False).head(3)

product
a    20271
b     6399
c     6209
Name: sales, dtype: int64